.promo {
  padding: 15px 0;
  img {
    width: 200px;
  }
  &-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobil {
      flex-direction: column-reverse;
    }
  }
  &-item {
    background-color: #000;
    color: $colorWhite;
    &__list {
      padding: 15px;
    }
  }
  .btn-buy {
    display: block;
    width: 90px;
    margin: 0 auto;
  }
}
